*
!.streamlit/
!.streamlit/**
!app/
!app/**
!data/
!data/oscal_parsed/
!data/oscal_parsed/**
!data/policies_synth_md/
!data/policies_synth_md/**
!data/policies_synth_md_v2/
!data/policies_synth_md_v2/**
!scripts/
!scripts/**
!.env.example
!app.py
!Dockerfile
!requirements.txt
!requirements-min.txt
